# Ignore input files: Machine dependent and too heavy
input/*

# Ignore auto generated images from ipython notebook
performance-analysis_files

# Ignore predator output files
predator_output

# Ignore executables
./mpi
./mpi_br
./cuda
./cuda_dim
./omp
./seq
